<!DOCTYPE html>
{%load static%}
{%static 'images' as baseUrl%}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>HTML PAGE</title>

</head>
<body bgcolor="black" >

    <div>
            <img src="{%static 'images/messi.jpg'%}" alt="">
            <h1 class="white" > MESSI</h1>
            <p class="gr" > ajkhfhgkhgsdfjghsehk</p>
    </div>


    <div>
            <img src="{%static 'images/peace.jpg'%}" alt="">
            <h2 style="color:white;font-style:oblique;">PEACE OUT </h2>
            <p class="red">Peace is a concept of societal friendship and harmony in the absence of hostility and violence. In a social sense, peace is commonly used to mean a lack of conflict and freedom from fear of violence between individuals or heterogeneous groups.</p>
    </div>


    <div>
            <img src="{%static 'images/ronu.jpg'%}" alt="">
            <h3 style="color:white;font-style:oblique;">CR7 </h3>
            <p class="gold">Cristiano Ronaldo dos Santos Aveiro (born 5 February 1985 in Funchal, Madeira), better known as Cristiano Ronaldo, is a Portuguese footballer. He plays for the Italian club Juventus and the Portuguese national team. ... He is the first player to win the rebranded UEFA Champions League five times.</p>
    </div>
</body>
</html>